/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
/*
* {
  margin: 0;
  padding: 0;
}
*/

html, body { height: 100%; }

body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;

  color:#e6e6e6;
  /*background-color:#292929;*/
   background-image: url("/assets/fond2.png");
}

h1 {
/*75004d; 70345c; 661f4e;
004665;
*/
  color : #e6e6e6;
  font-size: 300%;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: 4px solid #004665;
  /*display: inline;*/
}
p { margin: 1em 0; }

a         { color: #e6e6e6; text-decoration: none; }
a:hover   { color: #febf00; }
a:visited { color: #e6e6e6; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.tutorials {
  list-style-type: none;
  margin-bottom: 2em;
}

.tutorials li {
  line-height: 1.75em;
  font-size: 180%;
}

.tutorials span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 48em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

#logo{

  height: 100px;
}

.header{

  min-height: 10em;
}

.header a {
  font-weight: bold;
}

.header a.extra {
  /*color: #aaa;*/
  margin-left: 1em;
}

.header a.extra:hover {
  /*color: #000;*/
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #febf00;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}


#get_started_div{


    text-align: center;
}


/* made with http://enjoycss.com/ */
.button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #000000;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  font: normal normal normal 30px/normal "Times New Roman", Times, serif;
  color: rgba(112,112,112,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, #ffd866 0, #FEBF00 100%);
  background: -moz-linear-gradient(180deg, #ffd866 0, #FEBF00 100%);
  background: linear-gradient(180deg, #ffd866 0, #FEBF00 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
  position: static;
  color: rgba(0,0,0,1);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
